html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
/*  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;*/
  margin: 0;
  margin-top: 70px;
  padding: 0;
  background: #fefefe
}

p {
  width: 750px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}  

h1, h2, h3, h4, h5, h6 {
  color: #111;
  line-height: 125%;
  margin-top: -69px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  padding-top: 78px;
  margin-bottom: 0px;
}

h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  margin-top: 30;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 6px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

pre, code, kbd, samp {
  color: #111;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 0.98em;
  background-color: #D3D3D3;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li {
  list-style: square;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

li p:last-child {
  margin-bottom: 0;
  list-style: square;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

ul ul, ol ol {
  margin: .3em 0;
}

dl {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
  margin-bottom: .8em;
}

dd {
  margin: 0 0 .8em 2em;
}

dd:last-child {
  margin-bottom: 0;
}

img {
  border: none;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 25px;
}

.figure img {
  border: none;
  display: block;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 25px;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 .8em;
}

table {
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  padding: .2em 1em;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table td {
  padding: .2em 1em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
}

div#TOC {
  position: fixed;
  float: left;
  font-size: 16px;
  padding-top: 70px;
  right: 1px;
  left: 16px;
  top: 0px;
  width: 190px; 
  height: 195px; 
  -webkit-backface-visibility: hidden;  
}

.welltoc a {
  color: #444;
  text-decoration: none;
}

.welltoc li {
  list-style: square;
  color: #444;  
  width: 170px;
}

a {
  color: #0645ad;
  text-decoration: none;
}

a:hover {
  color: #06e;
}

a:active {
  color: #faa700;
}

/*a:focus {*/
/*  outline: thin dotted;*/
/*}*/

*::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

*::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

.author {
  font-size: 1.2em;
  text-align: center;
}


.nav ul {
  position: fixed;
  width: 100%;
  top: 0;
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  display: block;
  transition: .3s background-color;
  outline: none;
}

.nav .home a {
  color: #FF0000;
}


.nav .cv a {
  color: #fff;
}
 
.nav .projects a {
  color: #fff;
}

.nav .teaching a {
  color: #fff;
}

.nav a:hover {
  color: #808080;
}

.nav a::selection {
  color: #808080;
}
 
.nav a:active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.footer {
  margin-top: 35px;
}

.footer p {
  color: #666666;
}

@media screen and (min-width: 850px) {

  .nav li {
    width: 165px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    -webkit-backface-visibility: hidden;
  }
  
  .nav hm {
  padding-left: 4px;
  position: absolute;
  left: 20px;
  z-index: 10;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}

