<div class="footer">
  <p><strong>Connect:</strong><a href="https://github.com/aabeveridge" title="GitHub" target="_blank"><img src="./images/github.png" style="margin-left:10px;margin-right:10px;"/></a><a href="https://www.facebook.com/aaron.beveridge.92" title="Facebook" target="_blank"><img src="./images/facebook.png"  style="margin-left:10px;margin-right:10px;"/></a><a href="https://twitter.com/aaronbeveridge" title="Twitter"target="_blank"><img src="./images/twitter.png" style="margin-left:10px;margin-right:10px;"/></a></p>
</div>
<!--© 2013-2015 Aaron Beveridge-->
