 <div class="nav">
  <ul>
    <hm>
      <li class="home"><a href="https://aabeveridge.github.io/data-janitor/index.html"><b>Looking in the Dustbin</b></a></li></hm>
      <li class="methods"><a href="https://aabeveridge.github.io/data-janitor/methods.html">Methods</a></li>
      <li class="janitor"><a href="https://aabeveridge.github.io/data-janitor/janitor.html">Janitor</a></li>
      <li class="stats"><a href="https://aabeveridge.github.io/data-janitor/stats.html">Statistics</a></li>
      <li class="conclusion"><a href="https://aabeveridge.github.io/data-janitor/conclusion.html">Conclusion</a></li>
      <li class="notes"><a href="https://aabeveridge.github.io/data-janitor/notes.html">References</a></li>
  </ul>
</div>
