<div class="nav">
  <ul>
      <li class="home"><a href="index.html"><b>Looking in the Dustbin</b></a></li>
      <li class="methods"><a href="methods.html">Methods</a></li>
      <li class="janitor"><a href="janitor.html">Janitor</a></li>
      <li class="stats"><a href="stats.html">Statistics</a></li>
      <li class="conclusion"><a href="conclusion.html">Conclusion</a></li>
      <li class="notes"><a href="notes.html">References</a></li>
  </ul>
   <select> 
    <option value="" selected="selected">Select</option> 
    
    <option value="index.html">Home</option> 
    <option value="methods.html">Methods</option> 
    <option value="janitor.html">Janitor</option> 
    <option value="stats.html">Statistics</option> 
    <option value="conclusion.html">Conclusion</option>
    <option value="notes.html">References</option> 
  </select>
</div>
